/****************

  Table of Contents

  01  Global Styles
  02  Nav Styles
  03  Slider Styles
  04  Location Welcome Styles
  05  Menu Styles
  06  Footer Styles
  07  Testimonials Styles
  08  Call Out Styles
  09  Button Styles
  10  Utilities Styles
  11  Tab Styles
  
*****************/

/*
  01
  Global Styles
*/
body {
  background: #FFF5EA !important;
  min-width: 320px;
}

dt {
  font-weight: 600;
  font-family: 'Khand';
  font-size: 1.15em;
}

dd {
  font-family: 1em;
}

p {
  font-family: "Khand";
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3em;
}

pre {
  background: #FFF5EA !important;
}

section {
  background: transparent;
}

.uk-panel-box,
.uk-block-secondary,
.uk-pagination,
.tm-content {
  background: #FFF5EA !important;
}


.cf-submenu-price {
  font-size: 22px;
  font-family: 'Khand';
  font-weight: 400;
}

.cf-thumbnail {
  max-height: 550px !important;
}

.tm-menu-desc {
  color: #333 !important;
}
.tm-menu-name {
  font-weight: 700 !important;
}
.uk-sub-title {
  font-size: 28px;
}

.tm-header-height > div {
  max-height: 150px !important;
}



/*
  02
  Nav Styles
*/

.uk-navbar-toggle {
  padding-top: 1em;
}

.flaco-logo-nav>h1 {
  color: #f9f9f9;
  display: block;
  float: left;
  font-family: 'Khand';
  font-size: 3em;
  margin: 10px 0;
  padding-left: 1em;
}

.flaco-logo-nav>svg {
  float: left;
  margin-bottom: 0px;
  margin-left: 80px;
  margin-top: .75em;
  padding-bottom: 0px;
  width: 5%;
}

.flaco-logo-nav small {
  color: #f9f9f9;
  font-size: .45em;
}

.uk-nav-parent-icon>.uk-parent>a::after {

  content: "\f100";
  width: 12px;
  margin-right: 0;
  float: right;
  font-family: FontAwesome;
  text-align: center;
  color: rgba(56, 47, 47, 0.5);
  display: none;

}

.uk-navbar-toggle:before {
  display: none;
}

.uk-navbar-toggle:after {
  font-size: 1.5em;
}

.phone-number {
  font-family: 'Varela', Helvetica, Arial, sans-serif;
  font-size: .90em;
  margin-right: 40px !important;
}

/*
  03
  Slider Styles
*/

.background {
  background-image: url('/images/wood-background.png');
  margin: 0 0 5em 0;
}

.tm-slidenav {
  margin: -80px;
}

.tm-slideshow-gaucho .uk-slidenav {
  top: 35%;
}

.tm-header-box {
  background-color: rgba(151, 0, 0, 0);
}

.container-1 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  height: auto;
  justify-content: center;
  margin-top: -110px;
  padding: 10em;
  width: 100%;
}

.container-1 div {
  padding: 80px;
}

.container-1 h3 {
  margin: 1em 0 2em 0;
}

.container-1 h1,
h3 {
  font-weight: 600;
}

.box-1 {
  background: #FFF5EA;
  border-top: 10px solid #A08F7C;
  box-shadow: inset 4px 0 rgba(0, 0, 0, 0.05);
  flex-basis: 20%;
  flex: 1;
  max-width: 500px;
  min-height: 550px !important;
  min-width: 400px;
  order: 1;
}

.box-2 {
  flex-basis: 60%;
  flex: 2;
  max-width: 760px;
  order: 2;
  padding: 0px !important;
}

.cf-nobackground {
  background: transparent !important;
}

.cf-slider {
  margin: 0px !important;
  padding-left: 0px;
  padding: 0px !important;
}

.cf-slider-dots {
  bottom: -15% !important;
  position: absolute;
  right: 5% !important;
}

.cf-slider-height {
  height: 500px !important;
}

.cf-google-maps {
  font-size: .75em;
  line-height: 1.3em;
  overflow: auto;
}


/* 
  04
  Location Welcome Styles
*/

.tm-dropcap-block p {
  font-weight: 500;
  line-height: 1.5em;
  font-size: 1.75em;

}

/* 
  05
  Menu Styles
*/

.cf-menu-background {
  background: #FFF5EA !important;
}

.no {
  display: none;
}

/* 

  06
  Footer Styles

*/

small {
  color: #F9F9F9;
}

.footer-links {
  color: #EC4E00 !important;
}

.flaco-logo {
  width: 4%;
  display: block;
  margin: 10px auto;
}

.footer {
  border-top: 8px solid #AEA512;

}

.footer h2 {
  color: #EC4E00 !important;
  font-size: 1.75em;
  font-family: 'Khand';
}

.footer li {
  list-style: none;
  font-size: .775em;
  margin-left: -30px;
}

.footer p {
  line-height: 1.5em;
  font-size: 1.25em;
}

.footer>.uk-grid>* {
  margin-right: 10em !important;
}

/* 
  07
  Testimonials Styles
*/

.cf-testimonials {
  width: 75% !important;
  margin: 0 auto;
  display: block;
  padding: 0 0 10em 0;
}

.cf-testimonials p {
  font-size: 1.6em;
}


/*
  08
  Call Out Styles
*/

.cf-callout-background {
  background-color: #50B3B8 !important;
  border: 1px solid #285A5C;
}

.cf-callout h2 {
  font-size: 2em;
}

/*
  09
  Buttons
*/

.cf-button {
  border-radius: 0px;
  border: 0px;
  font-size: 1.25em !important;
  letter-spacing: .125em !important;
  margin-bottom: 1em !important;
  margin-top: .75em;
  margin-right: 1em;
  padding: .25em 1.5em;
}

.cf-button-tertiary {
  border-radius: 0px;
  border: 0px;
  background: #ec4e00;
  font-size: 1.25em !important;
  letter-spacing: .125em !important;
  padding: .25em 1.5em;
}

.cf-button-tertiary:focus,
.cf-button-tertiary:hover {
  background-color: #a23600;
  color: #f9f9f9;
}

.cf-button-slider {
  width: 100% !important;
}

.cf-button-position {
  position: relative !important;
  top: -80px !important;
  left: 40px !important;
  width: auto !important;
}

.uk-button {
  border-radius: 0px;
  border: 0px;
}


/*
  10
  Utilities Styles
*/

.cf-block {
  background-color: #FFF5EA;
  display: block;
}

.cf-padding-none {
  padding: 0px !important;
}


.cf-heading {
  font-family: 'khand';
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.25em;
}

.uk-badge-blue {
  background-color: royalblue;
}

/* 
  11
  Tab Styls

*/

.nav-tabs {
  border: none !important;
}

.nav-tabs>li {
  display: inline-block;
  float: inherit;
  width: 40% !important;
}

.nav-tabs>li.active>a {
  background-color: #AEA512 !important;
  border-radius: 0px;
  border: none !important;
  color: #f9f9f9 !important;
  cursor: default;
  font-family: 'Varela', sans-serif;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: #c2b92b !important;
  border: none !important;
  color: #555 !important;
  border-radius: 0px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #938372 !important;
  border: none !important;
  text-decoration: none;
  border-radius: 0px;
}

.uk-dropdown-navbar .uk-nav-navbar>li>a:focus,
.uk-dropdown-navbar .uk-nav-navbar>li>a:hover {
  color: #f9f9f9;
  background-color: #938372 !important;
}

/*
  12
  Media Queries
*/

@media (max-width: 1700px) {

  .cf-button {
    display: block !important;
    font-size: 1.5em !important;
    letter-spacing: .15em !important;
    margin-bottom: 1em !important;
    margin-top: 1.5em;
    padding: 8px !important;
    width: 100% !important;
  }

  .cf-callout-grid {
    width: 80%;
    margin: 0 auto;
  }

  .cf-button-position {
    position: relative !important;
    top: 0px !important;
    left: 65px !important;
  }

  .right {
    margin-bottom: 0;
    margin-left: 0 !important;
  }

  .cf-slider-height {
    height: 600px !important;
  }

  .cf-slider-dots {
    bottom: -10% !important;
    position: absolute;
    right: 5% !important;
  }

  .uk-button {
    border-radius: 0px;
    border: 0px;
    margin-right: 1em;
  }
}

@media (max-width:1190px) {
  .cf-button-position {
    display: none;
  }
}

@media (max-width:959px) {

  .cf-callout-grid {
    width: 80%;
    margin: 0 auto;
  }

  .cf-block-large {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

@media (max-width:768px) {

  small {
    font-size: 1em;
  }

  .cf-block-large {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .cf-button {
    display: block !important;
    font-size: 1.75em !important;
    letter-spacing: .15em !important;
    margin-bottom: 1em !important;
    margin-top: 1.5em;
    padding: 8px !important;
    width: 100% !important;
  }

  .cf-button-tertiary {
    width: 100% !important;
  }

  .cf-testimonials p {
    font-size: 1.25em;
  }

  .cf-logo-footer svg {
    width: 10% !important;
  }

  .flaco-logo-nav>h1 {
    margin: 30px 0;
    padding-left: 1em;
  }

  .right {
    margin-bottom: 0;
    margin-left: 0 !important;
  }

  .trb_nh_l {
    width: 40% !important;
  }

}

@media (max-width:550px) {

  .cf-button-tertiary {
    width: 100% !important;
  }

  .cf-block-large {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .tm-navbar .uk-navbar-nav>li .uk-dropdown-navbar {
    padding: 10px 0;
    background-color: #bdb425 !important;
  }

  .uk-dropdown-navbar .uk-nav-navbar>li>a:focus,
  .uk-dropdown-navbar .uk-nav-navbar>li>a:hover {
    color: #f9f9f9;
    background-color: #938372 !important;
  }

  .uk-dropdown-navbar {
    margin-top: 10px !important;
    background: #bdb425 !important;
    color: #382f2f !important;
    padding: 0 !important;
  }

  .uk-dropdown-navbar .uk-nav-navbar>li>a:hover {
    background: #bdb425 !important;
    /* color: #938372 !important; */
  }
}

.uk-dropdown-navbar {
  background: #bdb425 !important;
  padding: 10px 0 !important;
}

.uk-dropdown-navbar .uk-nav-navbar>li>a {
  background: #bdb425 !important;
  /* color: #938372 !important; */
}

/* Controls Hover Over Color */
.uk-dropdown-navbar .uk-nav-navbar>li>a:hover {
  background: #bdb425 !important;
  color: #444 !important;
}

.uk-hidden-touch {
  display: none !important;
}