<div class="tm-navbar" data-uk-sticky>
    <!-- Top Green Bar -->
    <div class="tm-toolbar uk-clearfix uk-hidden-small" style="background-color: #D2C82A;">
        <!-- Nav Left -->
        <div class="uk-float-left">
        </div>
        <!-- Nav Right -->
        <div class="uk-float-right">
            <div>
                <p style="inline-block; margin-bottom: 10px;"><a style="color: #fff;" target="_blank" href="https://www.toasttab.com/flacohartford/giftcards">Buy Gift Cards</a></p>
                <p style="inline-block;" class="phone-number">
                    <a style="color: #fff;" href="tel:860-953-1299">
                    Call Us: (860) 953-1299
                </p>
            </div>
        </div>
    </div>
    <!-- Top Green Bar -->
    <nav class="tm-navbar-container uk-flex uk-flex-space-between uk-margin-large-right">
        <!-- Coyote Flaco Section -->
        <div class="tm-nav-logo-small">
            <!-- Home -->
            {% for item in site.data.navigation.home %}
            <a class="tm-logo-small" href="{{ item.link }}">
                {% endfor %}
                <div class="flaco-logo-nav">
                    <span class="uk-hidden-small" style="display: none;">
                        {% include flaco-logo.html %}
                    </span>
                    <h1>
                        Coyote Flaco
                        <small>
                            Hartford
                        </small>
                    </h1>
                </div>
            </a>
        </div>
        <!-- Coyote Flaco Hartford Nav -->
        <div class="tm-nav uk-hidden-small">
            <ul class="uk-navbar-nav uk-hidden-small">
                <!-- Home  -->
                {% for item in site.data.navigation.home%}
                <li>
                    <a href="{{ item.link }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                <!-- Restaurant Locations -->
                <li class="uk-parent" data-uk-dropdown>
                    <a href="#">
                        Locations
                    </a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                        <div class="uk-grid uk-dropdown-grid">
                            <div class="uk-width-1-1">
                                <ul class="uk-nav uk-nav-navbar">
                                    {% for item in site.data.navigation.locations %}
                                    <li>
                                        <a href="{{ item.link }}">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Menu Navigation -->
                <li class="uk-parent" data-uk-dropdown="" aria-haspopup="" aria-expanded="">
                    <a href="#">
                        Menu
                    </a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1 uk-dropdown-bottom" aria-hidden="true"
                        tabindex="" style="top: 70px; left: 0px;">
                        <div class="uk-grid uk-dropdown-grid">
                            <div class="uk-width-1-1">
                                <ul class="uk-nav uk-nav-navbar">
                                    {% for item in site.data.navigation.hartford-menu %}
                                    <li>
                                        <a href="{{ item. link }}">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Happy Hour -->
                {% for item in site.data.navigation.hartford-happy %}
                <li class="uk-parent" data-uk-dropdown>
                    <a href="happyhour.html">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                <!-- Reservations -->
                {% for item in site.data.navigation.hartford-reservations %}
                <li class="uk-parent" data-uk-dropdown>
                    <a href="{{ item. link }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                <!-- About Us  -->
                <li class="uk-parent" data-uk-dropdown>
                    <a href="about-hartford.html">
                        About Us
                    </a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1 uk-dropdown-bottom" aria-hidden="true"
                        tabindex="" style="top: 70px; left: 0px;">
                        <div class="uk-grid uk-dropdown-grid">
                            <div class="uk-width-1-1">
                                <ul class="uk-nav uk-nav-navbar">
                                    <!-- Hartford Courant Reviews -->
                                    <li>
                                        <a href="hartford-reviews.html">
                                            Reviews
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- offcanvas nav icon -->
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>
        </a>
    </nav>
</div>