<div id="tm-main" class="tm-block-main uk-block">
    <div class="uk-container uk-container-center">
        <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main id="tm-content" class="tm-content">
                    <article class="uk-article tm-article">
                        <div class="tm-article-wrapper">
                            <div class="tm-article-content uk-margin-large-bottom uk-margin-top-remove">
                                <div class="tm-article">
                                    <div class="uk-text-center">
                                        <h2 class="uk-margin-large-bottom uk-text-center cf-heading">
                                            {% include left-arrows.html %}
                                            ¡BIENVENIDOS!
                                            {% include right-arrows.html %}
                                        </h2>
                                    </div>
                                    <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-2"
                                        data-uk-grid-margin="">
                                        <div class="uk-panel uk-panel-space uk-row-first">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <div class="tm-dropcap-block">
                                                    <p>Located in <b>Hartford’s quiet southwest</b>, we’ve been serving
                                                        up quality Mexican food straight from our parent’s recipes
                                                        since 1999. Also, we make great margaritas and when the weather
                                                        is nice, you can sit outside on the patio. On those pesky,
                                                        dreary winter days and it’s too cold to go outside, <b>WE
                                                            DELIVER!!</b>
                                                        <p>Off street parking is available in the front, in back and on
                                                            the side of our building.</p>
                                                    </p>
                                                    <p> Here’s what some of our customers have to say:</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-panel uk-panel-space">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <!-- <img class="uk-thumbnail" src="images/demo/default/content/about-us.jpg" alt="about us" width="490" height="250"> -->
                                                <iframe class="uk-thumbnail" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2977.3940785742316!2d-72.7042707!3d41.7335921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e652d6c9091727%3A0xa2c06eab6b305c50!2s635+New+Britain+Ave%2C+Hartford%2C+CT+06106!5e0!3m2!1sen!2sus!4v1544161176811"
                                                    width="600" height="450" frameborder="0" style="padding: 10px;"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>