<br /><br />

<div id="tm-bottom-a" class="tm-block-bottom-a uk-block uk-block-secondary cf-callout-background">
    <div class="uk-container uk-container-center">
       <section class="tm-bottom-a uk-grid">
            <div class="uk-width-1-1 uk-row-first uk-text-center">
                <div class="uk-panel">
                    <div class="uk-grid cf-callout-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1 uk-row-first">
                             <h2 class="uk-margin-small-top">
                                 We Deliver - 
                                 <a target="_blank" style="color: #ec4e00; text-decoration: underline;" href="https://www.toasttab.com/flacohartford/giftcards">Buy Gift Cards 
                                 </a>
                            </h2>
                            <!-- <a class="uk-button-small uk-button cf-button-tertiary" href="/hartford-dine-in.html">
                                View Hartford Dine-In Menu
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<br />
<br />