<div id="tm-bottom-a" class="tm-block-bottom-a uk-block uk-block-secondary cf-callout-background ">
    <div class="uk-container uk-container-center">
        <section class="tm-bottom-a uk-grid">
            <div class="uk-width-1-1 uk-row-first uk-text-center">
                <div class="uk-panel">
                    <div class="uk-grid cf-callout-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1 uk-row-first">
                            <h2 class="uk-margin-small-top">
                                Free Delivery On Orders Over $20!
                            </h2>
                            <a class="uk-button-small uk-button cf-button-tertiary" href="https://www.grubhub.com/restaurant/coyote-flaco-mexican-restaurant-635-new-britain-ave-hartford/281074"
                                target="_blank">
                                Order Online
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>