<div id="tm-main" class="tm-block-main uk-block" style="margin: 50px 0;">
    <div class="uk-container uk-container-center">
        <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main id="tm-content" class="tm-content">
                    <article class="uk-article tm-article">
                        <div class="tm-article-wrapper">
                            <div class="tm-article-content uk-margin-large-bottom uk-margin-top-remove">
                                <div class="tm-article">
                                    <div class="uk-text-center">
                                        <h2 class="uk-margin-large-bottom uk-text-center cf-heading">
                                            {% include left-arrows.html %}
                                            ¡BIENVENIDOS!
                                            {% include right-arrows.html %}
                                        </h2>
                                    </div>
                                    <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-2"
                                        data-uk-grid-margin="">
                                        <div class="uk-panel uk-panel-space uk-row-first">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <div class="tm-dropcap-block">
                                                    <p>Located in <b>Storrs's, near the UCONN campus</b>, we’ve been
                                                        serving
                                                        up quality Mexican food straight from our parent’s recipes
                                                        since 1999. Also, we make great margaritas and when the weather
                                                        is nice, you can sit outside on the patio.
                                                        <p>We have plenty of parking.</p>
                                                    </p>
                                                    <p> Here’s what some of our customers have to say:</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-panel uk-panel-space">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <!-- <img class="uk-thumbnail" src="images/demo/default/content/about-us.jpg" alt="about us" width="490" height="250"> -->
                                                <iframe class="uk-thumbnail" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d381212.2695735287!2d-72.74914750703293!3d41.71575286281664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b02d6ffec13ae84!2sCoyote+Flaco!5e0!3m2!1sen!2sus!4v1544177416629"
                                                    width="600" height="450" frameborder="0" style="padding: 10px;"
                                                    allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>