<!-- Entrees Section  -->
<!-- <style>
    .tm-header-height>div {
        min-height: 250px !important;
    }
</style> -->
<div id="tm-top-e" class="tm-block-top-e uk-block uk-block-default tm-block-fullwidth tm-grid-collapse" style="max-height: 150px !important;">
    <div class="uk-container uk-container-center">
        <section class="tm-top-e uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-text-center tm-header-height" style="max-height: 150px !important;">
                    <div class="uk-flex uk-flex-center uk-flex-middle" style="background-color: #FFF5EA !important; background-position: 50% 0px;">
                        <div class="uk-position-relative uk-container">
                            <div data-uk-parallax="{opacity: '0,1', scale: '0.75,1', viewport: '0.5'}">
                                <h2 style="display: inline-block; font-size: 48px;">
                                    {% include left-arrows.html %}
                                    Entrees
                                   
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>