<div id="tm-main" class="tm-block-main">
    <div class="uk-container uk-container-center">
        <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-block">
                <main id="tm-content" class="tm-content">
                    <article class="uk-article tm-article">
                        <div class="tm-article-wrapper">
                            <div class="tm-article-content ">
                                <div class="tm-article">
                                    <!-- <h3 class="uk-text-center uk-margin-large-top cf-heading" style="font-size:1.75em;">Hartford
                                            Reservation</h3> -->

                                    <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-2"
                                        data-uk-grid-margin="">
                                        <!-- Section -->
                                        <div class="uk-panel uk-panel-space" style="
                                            padding-top: 12px;">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <div class="uk-panel uk-panel-box uk-text-center" style="min-height: 459px; border: none;">


                                                    <p>Call us at (860) 423-4414 to make a reservation,
                                                        or reserve your table online</p>
                                                    <p>Located near UCONN Storrs' Campus.</p>

                                                    <iframe class="uk-thumbnail" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d381212.2695735287!2d-72.74914750703293!3d41.71575286281664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b02d6ffec13ae84!2sCoyote+Flaco!5e0!3m2!1sen!2sus!4v1544177416629"
                                                        width="600" height="450" frameborder="0" style="padding: 10px; margin-top: 50px;"
                                                        allowfullscreen></iframe>



                                                </div>
                                            </div>
                                        </div>
                                        <!-- Section -->
                                        <div class="uk-panel uk-panel-space uk-row-first">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom uk-text-center">

                                                <form id="booking_form" class="uk-form uk-form-horizontal uk-margin-top">

                                                    <div id="alert-msg-booking" class="alert-msg"></div>

                                                    <div class="uk-grid uk-grid-width-medium-1-1 uk-grid-width-1-1"
                                                        data-uk-grid-margin="">

                                                        <div class="uk-form-icon uk-row-first">
                                                            <i class="uk-icon-name"></i>
                                                            <input type="text" placeholder="Your Name" name="book-name"
                                                                class="uk-width-1-1" required="required">
                                                        </div>

                                                        <div class="uk-form-icon uk-grid-margin uk-row-first">
                                                            <i class="uk-icon-phone"></i>
                                                            <input type="text" placeholder="Your Phone" name="book-name"
                                                                class="uk-width-1-1" required="required">
                                                        </div>

                                                        <div class="uk-form-icon uk-grid-margin uk-row-first">
                                                            <i class="uk-icon-users"></i>
                                                            <input type="text" placeholder="Guests" name="book-guests"
                                                                class="uk-width-1-1" required="required">
                                                        </div>

                                                        <div class="uk-form-icon uk-grid-margin uk-row-first">
                                                            <i class="uk-icon-calendar"></i>
                                                            <input type="text" placeholder="Date" name="book-date"
                                                                class="uk-width-1-1" data-uk-datepicker="{format:'DD/MM/YYYY', minDate: 0}"
                                                                required="required">
                                                        </div>

                                                        <div class="uk-display-block uk-form-icon uk-grid-margin uk-row-first"
                                                            data-uk-timepicker="{format:'12h', start:9, end: 22}">
                                                            <i class="uk-icon-clock-o"></i>
                                                            <input type="text" placeholder="Time" name="book-time"
                                                                class="uk-width-1-1" required="required">
                                                        </div>

                                                        <div class="uk-form-icon uk-grid-margin uk-row-first">
                                                            <i class="uk-icon-phone"></i>
                                                            <input type="text" placeholder="Phone" name="book-phone"
                                                                class="uk-width-1-1" required="required">
                                                        </div>

                                                        <div class="form-group uk-margin-remove uk-grid-margin uk-row-first">
                                                            <button id="booking_submit" type="submit" class="uk-button uk-button-default uk-button-large uk-margin-large-top">Reserve
                                                                Your Table</button>
                                                            <small style="display: block; margin-top: 24px;"><sup>*</sup>
                                                                We do no
                                                                not accept reservation on
                                                                5 de Mayo</small>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>