
<div id="tm-bottom-a" class="tm-block-bottom-a uk-block uk-block-secondary cf-callout-background">
    <div class="uk-container uk-container-center">
        <section class="tm-bottom-a uk-grid">
            <div class="uk-width-1-1 uk-row-first uk-text-center">
                <div class="uk-panel">
                    <div class="uk-grid cf-callout-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-1 uk-row-first">
                            <h2 class="uk-margin-small-top">
                                Call out Section 
                            </h2>
                            <a class="uk-button-small uk-button cf-button-tertiary" href="/mansfield-dine-in.html">
                                View Mansfield Dine-In Menu
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>