<div class="container-1 uk-cover-background background" style="background-image: url('images/wood-background.png');">
	<div class="box-1 uk-text-left tm-header-box uk-flex-center">
		<h1 class="uk-module">
			Coyote Flaco Mansfield
		</h1>
		<div class="uk-flex-middle" style="box-shadow: none; padding: 0px!important;">
			<h3 class="uk-margin">
				Hours of Operation
			</h3>
			<dl class="uk-description-list-horizontal">
				{% for item in site.data.hours.mansfield %}
					<dt>{{ item.day }}</dt>
					<dd>{{ item.hours }}</dd>
					{% endfor %}
			</dl>
			<a class="uk-margin-left uk-button-large uk-button cf-button right cf-button-tertiary" href="https://www.toasttab.com/flacomansfield/v3" target="blank">
			Order Online
			</a>
			<a class="
			uk-button-primary uk-button-large uk-button cf-button" href="tel:860-423-4414">
			Call Us
			</a>
			<a target="_blank" class="uk-button-secondary uk-margin-left uk-button-large uk-button cf-button right" href="https://www.toasttab.com/flacomansfield/giftcards">
			Buy Gift Cards
			</a>
			<a class="uk-margin-left uk-button-large uk-button cf-button right cf-button-tertiary" href="mansfield-dine-in.html" style="background: none; color:coral;">
				Dine In Menu
			</a>
		</div>
	</div>
	<div class="box-2 uk-hidden-medium uk-hidden-small">
		<!-- Old Code -->
		<div class="cf-slider" style="padding-left: 0px;">
			<div class="tm-slideshow-gaucho uk-slidenav-position cf-padding-none" data-uk-slideshow="{autoplay:true, animation: 'scale', pauseOnHover: true, duration: 750, autoplayInterval: 15000, kenburns: true, kenburnsanimations: 'uk-animation-top-center'}">
				<!-- Slides -->
				<ul class="uk-slideshow uk-overlay-active cf-slider-height">
					{% for item in site.data.slider.mansfield %}
					<!-- Slide #{{ item.order }}  -->
					<li data-slideshow-slide="html" aria-hidden="true" class="" style="animation-duration: 450ms; opacity: 1; height: 800px;">
						<div style="min-height: 550px !important;">
							<!-- Image for Slider -->
							<div class="uk-cover-background uk-position-cover uk-animation-scale uk-animation-reverse uk-animation-top-center"
							 style="animation-duration: 15s; {{ item.class }}">
							</div>
							<canvas width="1200" height="500" style="width: 100%; height: auto; opacity: 0;">
							</canvas>
							<div class="uk-overlay-panel uk-flex uk-flex-middle uk-overlay-slide-left">
								<!-- <div>
                                        <div class="uk-margin">
                                        </div>
                                        <span class="uk-button-default uk-button-large uk-button">Hartford</span>
                                    </div> -->
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				<!-- slide navigation buttons -->
				<div class="uk-margin cf-nobackground cf-slider-dots">
					<ul class="uk-dotnav uk-flex-right uk-hidden-touch">
						{% for item in site.data.slider.mansfield%}
						<li data-uk-slideshow-item="{{ item.order }}" class="">
							<a href=""></a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- slide navigation arrows -->
				<div class="tm-slidenav uk-flex uk-flex-right uk-flex-middle">
					<a href="" class="uk-slidenav uk-slidenav-previous uk-hidden-touch" data-uk-slideshow-item="previous">

					</a>
					<a href="" class="uk-slidenav uk-slidenav-next uk-hidden-touch" data-uk-slideshow-item="next">

					</a>
				</div>
				<!-- Controls Background for Slider Buttons -->
				<div class="uk-margin cf-nobackground" style="display: none;">
					<ul class="uk-dotnav uk-flex-right uk-hidden-touch">
						{% for item in site.data.slider.mansfield %}
						<li data-uk-slideshow-item="{{ item.order }}" class="">
							<a href=""></a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- slide navigation arrows -->
				<div class="tm-slidenav uk-flex uk-flex-right uk-flex-middle" style="padding: 40px;">
					<a href="" class="uk-slidenav uk-slidenav-previous uk-hidden-touch" data-uk-slideshow-item="previous"></a>
					<a href="" class="uk-slidenav uk-slidenav-next uk-hidden-touch" data-uk-slideshow-item="next"></a>
				</div>
			</div>
		</div>
		<!-- Old Code Ends -->
	</div>
</div>
<!-- </div> -->
<!-- slide navigation buttons -->
<div class="uk-margin cf-nobackground cf-slider-dots" style="display: none;">
	<ul class="uk-dotnav uk-flex-right uk-hidden-touch">
		{% for item in site.data.slider.mansfield %}
		<li data-uk-slideshow-item="{{ item.order }}" class="">
			<a href=""></a>
		</li>
		{% endfor %}
	</ul>
</div>
<!-- slide navigation arrows -->
<div class="tm-slidenav uk-flex uk-flex-right uk-flex-middle">
	<a href="" class="uk-slidenav uk-slidenav-previous uk-hidden-touch" data-uk-slideshow-item="previous">
	</a>
	<a href="" class="uk-slidenav uk-slidenav-next uk-hidden-touch" data-uk-slideshow-item="next">
	</a>
</div>
<!-- Controls Background for Slider Buttons -->
<div class="uk-margin cf-no background" style="display: none;">
	<ul class="uk-dotnav uk-flex-right uk-hidden-touch">
		{% for item in site.data.slider.mansfield %}
		<li data-uk-slideshow-item="{{ item.order }}" class="">
			<a href=""></a>
		</li>
		{% endfor %}
	</ul>
</div>
<!-- slide navigation arrows -->
<div class="tm-slidenav uk-flex uk-flex-right uk-flex-middle">
	<a href="" class="uk-slidenav uk-slidenav-previous uk-hidden-touch" data-uk-slideshow-item="previous"></a>
	<a href="" class="uk-slidenav uk-slidenav-next uk-hidden-touch" data-uk-slideshow-item="next"></a>
</div>