<div id="tm-main" class="tm-block-main">
    <div class="uk-container uk-container-center">
        <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-block" style="padding: 0px;">
                <main id="tm-content" class="tm-content">
                    <article class="uk-article tm-article" style="padding: 0px;">
                        <div class="tm-article-wrapper">
                            <div class="tm-article-content" style="padding: 0px;">
                                <div class="tm-article">
                                    <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-2"
                                        data-uk-grid-margin="">
                                        <!-- Section -->
                                        <div class="uk-panel uk-panel-space" style="padding-top: 12px;">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <div class="uk-panel uk-panel-box uk-text-center" style="min-height: 459px; border: none; padding-top: 0px;">
                                                    <p>We're not accepting reservations at this time!</p>
                                                    <!-- <p>Call us at (860) 423-4414 to make a reservation,
                                                        or reserve your table online.</p>
                                                    <p>Located near UCONN Storrs' Campus.</p> -->
                                                    <br>
                                                    <!-- OpenTable Widget -->
                                                    <!-- <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=240328&type=standard&theme=tall&iframe=true&overlay=false&domain=com&lang=en-US'>
                                                    </script> -->
                                                    <!-- OpenTable Widget Ends -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Section -->
                                        <div class="uk-panel uk-panel-space uk-row-first" style="padding-top: 0px; padding-bottom: 40px;">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom uk-text-center">
                                                <!-- Google Maps Widget -->
                                                <iframe class="uk-thumbnail" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d381212.2695735287!2d-72.74914750703293!3d41.71575286281664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b02d6ffec13ae84!2sCoyote+Flaco!5e0!3m2!1sen!2sus!4v1544177416629"
                                                    width="600" height="450" frameborder="0" style="padding: 10px; margin-top: 50px;"
                                                    allowfullscreen></iframe>
                                                <!-- Google Maps Widget Ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>