<div id="tm-top-e" class="tm-block-top-e uk-block uk-block-default tm-block-fullwidth tm-grid-collapse tm-inner-shadow">
    <div class="uk-container uk-container-center tm-inner-shadow">
        <section class="tm-top-e uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-text-center uk-contrast tm-header-height tm-overlay-secondary">
                    <div class="tm-background-cover uk-cover-background uk-flex uk-flex-center uk-flex-middle" style="background-position: 50% 0px; background-image:url('images/cactus-2.jpg');"
                        data-uk-parallax="{bg: '-200'}">
                        <div class="uk-position-relative uk-container">
                            <div data-uk-parallax="{opacity: '0,1', scale: '0.75,1', viewport: '0.5'}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>