<div id="tm-top-a" class="tm-block-top-a uk-block uk-block-default" style="padding: 120px 0;">
    <div class="uk-container uk-container-center">
        <section class="tm-top-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
            <div class="uk-width-1-1 uk-row-first">
                <div class="uk-panel uk-text-center">
                    <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                        <h2 class="uk-margin-large-bottom uk-text-center cf-heading">
                            {% include left-arrows.html %}
                            Come and Dine with Us
                            {% include right-arrows.html %}
                        </h2>
                    </div>
                    <div data-uk-scrollspy="{cls:'uk-animation-slide-bottom', delay:800}" class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                    </div>
                    <br>
                    <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid-margin="">
                        <div class="uk-panel uk-panel-space uk-row-first">
                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                <div class="uk-text-center">
                                    <h3 class="uk-margin-bottom">Fresco</h3>
                                    <img class="tm-svg-icon uk-margin-bottom uk-align-center uk-margin-bottom" src="images/quality.svg"
                                        alt="icon" width="64px" height="64px" data-uk-svg="">We make our own sauces
                                    every day. Produce and meats are handpicked daily. Our margaritas always feature
                                    fresh lime juice.
                                </div>
                            </div>
                        </div>
                        <div class="uk-panel uk-panel-space">
                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                <div class="uk-text-center">
                                    <h3 class="uk-margin-bottom">Amistoso</h3>
                                    <img class="tm-svg-icon uk-margin-bottom uk-align-center uk-margin-bottom" src="images/multiple-users-silhouette.svg"
                                        alt="icon" width="64px" height="64px" data-uk-svg="">
                                    When you dine with us, it’s as if you are in our homes.
                                </div>
                            </div>
                        </div>
                        <div class="uk-panel uk-panel-space">
                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                <div class="uk-text-center">
                                    <h3 class="uk-margin-bottom">Calidad</h3>
                                    <img class="tm-svg-icon uk-margin-bottom uk-align-center uk-margin-bottom" src="images/heart.svg"
                                        alt="icon" width="64px" height="64px" data-uk-svg="">Lots of love goes into
                                    every meal we prepare. We are about quality food that is memorable and delicious.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>