<div class="tm-navbar" data-uk-sticky>
    <div class="tm-toolbar uk-clearfix uk-hidden-small" style="background-color: #D2C82A; ">
        <!-- toolbar left -->
        <div class="uk-float-left">
            <div>
                <!-- <ul class="uk-subnav uk-subnav-line">
                    <li><a href="" target="_blank">Buy Now</a></li>
                    <li><a href="#">Login</a></li>
                </ul> -->
            </div>
            <div class=" uk-hidden-small">
                <!-- <p>Open daily: 11 am to 10:00 pm</p> -->
            </div>
        </div>
        <!-- Nav Social Media Section -->
        <div class="uk-float-right">
            <div>
                <!-- <a href="" class="uk-icon-button uk-icon-facebook" target="_blank"></a>
                <a href="" class="uk-icon-button uk-icon-instagram" target="_blank"></a> -->
            </div>
        </div>
    </div>
    <nav class="tm-navbar-container uk-flex uk-flex-space-between uk-margin-large-right">
        <!-- Coyote Flaco Section -->
        <div class="tm-nav-logo-small">
            <a class="tm-logo-small" href="index.html">
                <div class="flaco-logo-nav">
                    <span class="uk-hidden-small" style="display: none;">
                        {% include flaco-logo.html %} </span>
                    <h1>Coyote
                        Flaco</h1>
                </div>
            </a>
        </div>
        <!-- main menu -->
        <div class="tm-nav uk-hidden-small">
            <ul class="uk-navbar-nav uk-hidden-small">
                <!-- home menu  -->
                <li class="uk-parent uk-active" data-uk-dropdown>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <!-- Locations menu -->
                <li class="uk-parent" data-uk-dropdown>
                    <a href="#">
                        Locations
                    </a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                        <div class="uk-grid uk-dropdown-grid">
                            <div class="uk-width-1-1">
                                <ul class="uk-nav uk-nav-navbar">
                                    {% for item in site.data.navigation.locations %}
                                    <li>
                                        <a href="{{ item.link }}">
                                            {{ item.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- menu menu  -->
                <li class="uk-parent" data-uk-dropdown><a href="about.html">About Us</a>
                </li>
            </ul>
        </div>
        <!-- offcanvas nav icon -->
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    </nav>
</div>