<!-- preloader -->
<div class="tm-preload">
    <div class="spinner"></div>
</div>

<!-- to top scroller -->
<div class="uk-sticky-placeholder">
    <div data-uk-smooth-scroll data-uk-sticky="{top:-500}">
        <a class="tm-totop-scroller uk-animation-slide-bottom" href="#"></a>
    </div>
</div>

<!-- toolbar -->
<!-- <div class="tm-toolbar uk-clearfix"> -->

    <!-- toolbar left -->
    <!-- <div class="uk-float-left">
        <div>
            <ul class="uk-subnav uk-subnav-line">
                <li><a href="http://goo.gl/LqPQNI" target="_blank">Buy Now</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>

        <div class=" uk-hidden-small">
            <p>Open daily: 7:30 am to 11:00 pm</p>
        </div>
    </div> -->

    <!-- toolbar right -->
    <!-- <div class="uk-float-right">

        <div>
            <a href="https://www.dribbble.com/arrowthemes" class="uk-icon-button uk-icon-dribbble" target="_blank"></a>
            <a href="https://www.facebook.com/arrowthemes" class="uk-icon-button uk-icon-facebook" target="_blank"></a>
            <a href="https://www.twitter.com/arrowthemes" class="uk-icon-button uk-icon-twitter" target="_blank"></a>
        </div>
    </div>
</div> -->