<style>
    .tm-header-height>div {
        min-height: 300px;
    }

    .cf-margin-top {
        padding-top: 60px;
        font-size: 2.5em;
        width: 100%;
        margin: 0 auto;
    }

    .trb_nh_l {
        width: 20%;
        height: 50%;
        margin-top: -20px;
    }

    .cf-arrows {
        max-width: 100%;
        margin: 45px;

    }
</style>

<div id="tm-top-e" class="tm-block-top-e uk-block uk-block-default tm-block-fullwidth tm-grid-collapse">
    <div class="uk-container uk-container-center">
        <section class="tm-top-e uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-panel uk-text-center uk-contrast tm-header-height tm-overlay-secondary">
                    <div class="tm-background-cover uk-cover-background uk-flex uk-flex-center uk-flex-middle" style="background-position: 50% 0px; background-image:url('{{ site.url }}/images/hartford-diningroom.jpg');"
                        data-uk-parallax="{bg: '-200'}">
                        <div class="uk-position-relative uk-container">
                            <div data-uk-parallax="{opacity: '0,1', scale: '0.75,1', viewport: '0.5'}">
                                <h1 class="uk-margin-top" style="font-size: 48px;">
                                    CUSTOMER REVIEWS
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>