<!-- js -->
<script src="{{ site.baseurl }}{{ site.baseurl }}/js/jquery/jquery.min.js" type="text/javascript"></script>

<!-- uikit -->
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/uikit.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/accordion.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/autocomplete.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/datepicker.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/grid.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/lightbox.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/parallax.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/slider.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/slideset.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/slideshow.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/sticky.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/timepicker.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/vendor/uikit{{ site.baseurl }}/js/components/tooltip.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/jquery.justifiedGallery.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/gallery-js/bundle.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/gallery-js/jquery.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/gallery-js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/gallery-js/main.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/gallery-js/SmoothScroll.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/gallery-js/lib" type="text/javascript"></script>

<!-- theme -->
<script src="{{ site.baseurl }}/js/theme.js" type="text/javascript"></script>

<!-- plyr -->
<script src="{{ site.baseurl }}/js/plyr.js" type="text/javascript"></script>

<!-- Gallery Js -->
<script type="text/javascript" src="{{ site.baseurl }}/js/gallery-js/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gallery-js/bundle.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gallery-js/SmoothScroll.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gallery-js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gallery-js/main.js"></script>