<!-- js -->
<script src="/js/jquery/jquery.min.js" type="text/javascript"></script>

<!-- uikit -->
<script src="/vendor/uikit/js/uikit.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/accordion.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/autocomplete.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/datepicker.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/grid.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/lightbox.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/parallax.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/slider.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/slideset.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/slideshow.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/sticky.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/timepicker.min.js" type="text/javascript"></script>
<script src="/vendor/uikit/js/components/tooltip.min.js" type="text/javascript"></script>
<script src="/js/jquery.justifiedGallery.min.js" type="text/javascript"></script>
<script src="/js/gallery-js/bundle.js" type="text/javascript"></script>
<script src="/js/gallery-js/jquery.js" type="text/javascript"></script>
<script src="/js/gallery-js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
<script src="/js/gallery-js/main.js" type="text/javascript"></script>
<script src="/js/gallery-js/SmoothScroll.js" type="text/javascript"></script>
<script src="/js/gallery-js/lib" type="text/javascript"></script>

<!-- theme -->
<script src="/js/theme.js" type="text/javascript"></script>

<!-- plyr -->
<script src="/js/plyr.js" type="text/javascript"></script>

<!-- Gallery Js -->
<script type="text/javascript" src="/js/gallery-js/jquery.js"></script>
<script type="text/javascript" src="/js/gallery-js/bundle.js"></script>
<script type="text/javascript" src="/js/gallery-js/SmoothScroll.js"></script>
<script type="text/javascript" src="/js/gallery-js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="/js/gallery-js/main.js"></script>