<div id="tm-main" class="tm-block-main uk-block">
    <div class="uk-container uk-container-center">
        <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
            <div class="tm-main uk-width-medium-1-1 uk-row-first">
                <main id="tm-content" class="tm-content">
                    <article class="uk-article tm-article">
                        <div class="tm-article-wrapper">
                            <div class="tm-article-content uk-margin-large-bottom uk-margin-top-remove">
                                <div class="tm-article">
                                    <div class="uk-text-center">
                                        <h2 class="uk-margin-large-bottom uk-text-center cf-heading">
                                            {% include left-arrows.html %}
                                            About us
                                            {% include right-arrows.html %}
                                        </h2>
                                    </div>
                                    <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-2"
                                        data-uk-grid-margin="">
                                        <div class="uk-panel uk-panel-space uk-row-first">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <div class="tm-dropcap-block">
                                                    <p>Al and Esperanza Cabrera always dreamed of owning their own
                                                        restaurant. In 1999, they opened their Hartford location, and
                                                        in ___ opened a second restaurant in Mansfield. Now both in
                                                        their 80s and semi-retired, Al and Esperanza leave the daily
                                                        running of the restaurants to family. Son William operates the
                                                        Mansfield location, while sons (and twins) Jose and Pablo,
                                                        along with their sister-in-law Silvia, run Coyote Flaco in
                                                        Hartford. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-panel uk-panel-space">
                                            <div class="uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-bottom">
                                                <img class="uk-thumbnail" src="{{ site.url }}/images/demo/avatar/client-1.jpg"
                                                    alt="about us" width="490" height="250">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</div>