<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
{% include nav.html %}

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59CPJ7Z"
    height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Slider Section -->
    {% include slider.html%}
    <!-- Call Out Section -->
    <!-- {% include home-callout.html%} -->
    <!-- Gallery Section -->
    {% include gallery.html%}
    <!-- Press Section -->
    {% include press.html%}
    <!-- Testimonials Section -->
    {% include testimonials.html%}
    {% include mobile-nav.html %}
    <!-- Footer Section -->
    {% include footer.html %}
    <!-- Scripts Section -->
    {% include scripts.html %}
</body>

</html>