<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include sub-head.html %}
{% include cfm-nav.html %}

<body>
    {{ content }}
</body>
<!-- offcanvas menu -->
<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <ul class="uk-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav>
            <!-- home menu  -->
            <li class="uk-parent uk-active" data-uk-dropdown>
                <a href="index.html">
                    Home
                </a>
            </li>
            <!-- Locations menu -->
            <li class="uk-parent" data-uk-dropdown>
                <a href="#">
                    Locations
                </a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                    <div class="uk-grid uk-dropdown-grid">
                        <div class="uk-width-1-1">
                            <ul class="uk-nav uk-nav-navbar">
                                {% for item in site.data.navigation.locations %}
                                <li>
                                    <a href="{{ item.link }}">
                                        {{ item.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Menu -->
            <li class="uk-parent" data-uk-dropdown="" aria-haspopup="" aria-expanded="">
                <a href="#">
                    Menu
                </a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1 uk-dropdown-bottom" aria-hidden="true"
                    tabindex="" style="top: 70px; left: 0px;">
                    <div class="uk-grid uk-dropdown-grid">
                        <div class="uk-width-1-1">
                            <ul class="uk-nav uk-nav-navbar">
                                <li>
                                    <a href="mansfield-dine-in.html">
                                        Dine In
                                    </a>
                                </li>
                                <li>
                                    <a href="mansfield-drinks.html">
                                        Drinks
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Reservations -->
            <li class="uk-parent" data-uk-dropdown>
                <a href="mansfield-reservations.html">Reservations</a>
            </li>
            <!-- About Us  -->
            <li class="uk-parent" data-uk-dropdown>
                <a href="about-mansfield.html">About Us</a>
            </li>
        </ul>
    </div>
</div>
<!-- Footer Section -->
{% include cfm-footer.html %}
{% include scripts.html %}

</html>